/osa05-Osa05_03.Saniteettitarkastus/target/
/osa06-Osa06_01.YhteenvetokyselytOsa1/target/
/osa06-Osa06_02.YhteenvetokyselytOsa2/target/
/osa07-Osa07_01.MusicApplication/target/
/osa07-Osa07_02.MusicApplicationOsa2/target/
/osa06-Osa06_03.Tietokantatransaktio/target/