<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>User's tasks</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${user.name}">Name of the user</h1>

        <h2>Current tasks</h2>
        
        <ul>
            <li th:each="task : ${tasks}">
                <span th:text="${task.name}">Task</span>
            </li>
        </ul>

    </body>
</html>
